@model IEnumerable<ShopApp.Models.Product>

@{
    ViewData["Title"] = "CategoryIndex";
}

<div class="alert alert-success">
    <strong>Category List</strong>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="ProductDetails" class="btn btn-info" asp-route-categoryName="@item.Category">Details</a>
                    @*@Html.ActionLink("Details", "Details", new {  categoryName=item.Category }) |*@

                </td>
            </tr>
        }
    </tbody>
</table>
